<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="/css/blog.css">
    <script src="/js/jquery.js"></script> 
    <script src="/js/bootstrap.min.js"></script>
    <title>Homepage V1.0</title>
</head>
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
      <a class="navbar-brand" href="/">
          <img src="/img/ktz_logo.png" alt="" width="38" height="30" class="d-inline-block align-text-top">
          Kshitiz Vikram Singh</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blog">Blogs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/certifications">Certifications</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/feedback">Feedback</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<body>
  <h1>Blogs</h1> 
<div class="bread">
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Blog</li>
    </ol>
  </nav>
</div>
<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">The Washing Machine At Home</h5>
          <p class="card-text">My thoughts on the Washing Machine at home and the improvements that can be made.</p>
          <a href="https://medium.com/@kshitiz-vikram-singh/the-washing-machine-at-home-fb2bee83799e" target="_blank" class="btn btn-primary">Go to Article!</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Climate Change Is Real!</h5>
          <p class="card-text">Climate change and the need to be more sensitive towards our Earth!</p>
          <a href="https://kshitiz-vikram-singh.medium.com/climate-change-is-real-4e98f82a66de" target="_blank" class="btn btn-primary">Go to Article!</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Surviving The Pandemic With Empathy</h5>
          <p class="card-text">My pandemic learnings..</p>
          <a href="https://kshitiz-vikram-singh.medium.com/surviving-the-pandemic-with-empathy-bc28bd4f814b" target="_blank" class="btn btn-primary">Go to Article!</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Society that Accepts Itself!</h5>
          <p class="card-text">My thoughts on diversity and Inclusion!</p>
          <a href="https://kshitiz-vikram-singh.medium.com/society-that-accepts-itself-bad576ba78d6" target="_blank" class="btn btn-primary">Go to Article!</a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>