<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="/css/blogs.css">
    <link rel="icon" href="/img/my_web_logo.png">
    <script src="/js/jquery.js"></script> 
    <script src="/js/bootstrap.min.js"></script>
    <title>Homepage V1.0</title>
</head>
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
      <a class="navbar-brand" href="/">
          <img src="/img/my_web_logo.png" alt="" width="38" height="30" class="d-inline-block align-text-top">
          Kshitiz Vikram Singh</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blogs">Blogs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/certifications">Certifications</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/feedback">Feedback</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<body>
  <h1>Blogs</h1> 

  <div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="/img/resized_general.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">General Articles</h5>
          <p class="card-text">Click below to check out articles that I genrally write to share my prespective on life and share my thoughts.</p>
          <a class="btn btn-primary" href="/gen-blogs" role="button">Go to articles -></a>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card h-100">
          <img src="/img/aws.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Knowledge Articles on AWS</h5>
            <p class="card-text">Click below to check out articles based on AWS cloud platform and its services</p>
            <a class="btn btn-primary" href="/aws-blogs" role="button">Go to articles -></a>
          </div>
        </div>
      </div>
    <div class="col">
      <div class="card h-100">
        <img src="/img/resized_project_man.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Knowledge Articles on Project Management</h5>
          <p class="card-text">Click below to check out articles on Project Management fundamentals</p>
          <a class="btn btn-primary" href="/project-management-blogs" role="button">Go to articles -></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/img/nodejs.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Knowledge Articles on NodeJS</h5>
          <p class="card-text">Click below to find some articles on NodeJS Programming and fundamentals</p>
          <a class="btn btn-primary" href="#" role="button">Go to articles -></a>
        </div>
      </div>
    </div>
  </div>

    
    

  <footer> 
    Reach out to me on:
    <a href="https://www.linkedin.com/in/kshitiz-vikram-singh-67a702268/" target="_blank">LinkedIn</a> <a target="_blank" href="https://instagram.com/ktz_vs">Instagram</a>
</footer>
</body>
</html>