<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/certifications.css"> 
    <script src="/js/jquery.js"></script> 
    <script src="/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/img/ktz_logo.png" alt="" width="38" height="30" class="d-inline-block align-text-top">
            Kshitiz Vikram Singh</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/blog">Blogs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/certifications">Certifications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/feedback">Feedback</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<body>
    
    <h1>Certifications</h1>
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">DevOps Fundamentals</h5>
            <p class="card-text">DevOps Fundamentals certification issued by <a href="https://amdocs.com" target="_blank">Amdocs</a></p>
            <a href="https://drive.google.com/file/d/1hyIQsn_ADHoQ1LMftRuXOVEP5G2ZUdiT/view?usp=share_link" target="_blank" class="btn btn-primary">View certificate</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Design Thinking- Train The Trainer</h5>
            <p class="card-text">Train the Trainer workshop certification issued by <a href="https://www.link-innovations.com/" target="_blank">Link</a>.</p>
            <a href="https://drive.google.com/file/d/1_7ldDoAigmzwH8p6qJzQbiaYalCQSSBS/view?usp=share_link" target="_blank" class="btn btn-primary">View Certificate</a>
          </div>
        </div>
      </div>
    </div>
    <div>
      <p>
  
      </p>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">AWS Certified Cloud Practitioner</h5>
            <p class="card-text">AWS CCP foundational level certification issued by <a href="https://www.aws.training/certification" target="_blank">AWS</a></p>
            <a href="https://www.credly.com/badges/95b6d892-4ee1-425b-b45e-6b5300fd61f3?source=linked_in_profile" class="btn btn-primary" target="_blank">View Certificate</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">ISTQB Software Testing Foundational Level</h5>
            <p class="card-text">International Software Testing Qualifications Board(ISTQB) Foundational Level Certification issued by <a href="https://www.istqb.in/" target="_blank">Indian Testing Board(ITB)</a> and <a href="https://www.istqb.org/" target="_blank">ISTQB</a></p>
            <a href="https://drive.google.com/file/d/1QC3TkjQpLHcprVA5GOSRcb9pcmd5C6Lb/view?usp=share_link" class="btn btn-primary" target="_blank">View Certificate</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Git Essentials By LinkedIn</h5>
            <p class="card-text">Basics of Git commands and Architecture of Git issued by <a href="https://linkedin.com/learning" target="_blank">LinkedIn</a></p>
            <a href="https://drive.google.com/file/d/1E7ZrvPEs50JXsfcvpTVawlfgtZFmzDSy/view?usp=share_link" class="btn btn-primary" target="_blank">View Certificate</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Agile Fundamentals By LinkedIn</h5>
            <p class="card-text">Agile Fundamentals certification issued by <a href="https://linkedin.com/learning" target="_blank">LinkedIn</a></p>
            <a href="https://drive.google.com/file/d/1Ia2Q6Io1TuUR4TN9-fN0bK1C7mByWLuX/view?usp=share_link" class="btn btn-primary" target="_blank">View Certificate</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Management at Microsoft: Principals</h5>
            <p class="card-text">Issued by <a href="https://linkedin.com/learning" target="_blank">LinkedIn</a> and <a href="https://pmi.org" target="_blank">Project Management Institute(PMI)</a></p>
            <a href="https://drive.google.com/file/d/1z-oxaSzmEZq0nH2wQ18x5fNQZ1c_mMa3/view?usp=share_link" class="btn btn-primary" target="_blank">View Certificate</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Innovator's Accelerator Training</h5>
            <p class="card-text">Innovator's Accelerator Training certification issued by <a href="https://innovatorsdna.com/" target="_blank">Innovator's DNA</a>
            </p>
            <a href="https://drive.google.com/file/d/1D7rxUKZLLUt7PEsHwLRDWR7n19ZduW46/view?usp=share_link" class="btn btn-primary" target="_blank">View Certificate</a>
          </div>
        </div>
      </div>
    </div>
<hr>
<footer> 
  Reach out to me on:
  <a href="https://www.linkedin.com/in/kshitiz-vikram-singh-67a702268/" target="_blank">LinkedIn</a> <a target="_blank" href="https://instagram.com/ktz_vs">Instagram</a>
</footer>
</body>
</html>