<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="/css/blog.css">
    <link rel="icon" href="/img/my_web_logo.png">
    <script src="/js/jquery.js"></script> 
    <script src="/js/bootstrap.min.js"></script>
    <title>Homepage V1.0</title>
</head>
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
      <a class="navbar-brand" href="/">
          <img src="/img/my_web_logo.png" alt="" width="38" height="30" class=" align-text-top">
          Kshitiz Vikram Singh</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blogs">Blogs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/certifications">Certifications</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/feedback">Feedback</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<body>
  <div class="container">
    <div class="row align-items-start">
      <div class="col">
        <h1>General Blogs</h1> 

  <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2000">
        <a href="https://medium.com/@kshitiz-vikram-singh/money-the-tool-for-hollow-power-b8c8e8f87079" target="_blank"><img src="https://miro.medium.com/v2/resize:fit:640/format:webp/0*2WLPV_Dpyr9l0l40.jpg" class=" w-50" alt="..."></a>
        <div class="carousel-caption  d-md-block">
          <h5><a href="https://medium.com/@kshitiz-vikram-singh/money-the-tool-for-hollow-power-b8c8e8f87079" target="_blank">Money: The tool for hollow power</a></h5>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="/img/dna.jpg" class="w-50" alt="...">
        <div class="carousel-caption  d-md-block">
          <h5><a href="/innovators-DNA" target="_blank">Innovator's DNA</a></h5>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://miro.medium.com/v2/resize:fit:640/0*iG3S4m5-PMm-8viF" class=" w-50" alt="...">
        <div class="carousel-caption  d-md-block">
          <h5><a href="https://kshitiz-vikram-singh.medium.com/women-empowerment-or-leverage-6947113c473a" target="_blank">Women empowerment or leverage..</a></h5>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">The Washing Machine At Home</h5>
          <p class="card-text">My thoughts on the Washing Machine at home and the improvements that can be made.</p>
          <a href="https://medium.com/@kshitiz-vikram-singh/the-washing-machine-at-home-fb2bee83799e" target="_blank" class="btn btn-primary">Go to Article!</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Climate Change Is Real!</h5>
          <p class="card-text">Climate change and the need to be more sensitive towards our Earth!</p>
          <a href="https://kshitiz-vikram-singh.medium.com/climate-change-is-real-4e98f82a66de" target="_blank" class="btn btn-primary">Go to Article!</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Surviving The Pandemic With Empathy</h5>
          <p class="card-text">My pandemic learnings..</p>
          <a href="https://kshitiz-vikram-singh.medium.com/surviving-the-pandemic-with-empathy-bc28bd4f814b" target="_blank" class="btn btn-primary">Go to Article!</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Society that Accepts Itself!</h5>
          <p class="card-text">My thoughts on diversity and Inclusion!</p>
          <a href="https://kshitiz-vikram-singh.medium.com/society-that-accepts-itself-bad576ba78d6" target="_blank" class="btn btn-primary">Go to Article!</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Women empowerment or Leverage?</h5>
          <p class="card-text">How a platform can now be easily manipulated by women in power!</p>
          <a href="https://medium.com/@kshitiz-vikram-singh/women-empowerment-or-leverage-6947113c473a" target="_blank" class="btn btn-primary">Go to Article!</a>
        </div>
      </div>
    </div> 
  
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Innovator's DNA</h5>
          <p class="card-text">Explained the innovator's DNA with a real world example</p>
          <a href="/innovators-DNA" target="_blank" class="btn btn-primary">Go to Article!</a>
        </div>
      </div>
    </div>
  </div> 


<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Money: The tool for Hollow Power</h5>
        <p class="card-text">How money can be destructive if not cared for responsibly! </p>
        <a href="https://kshitiz-vikram-singh.medium.com/money-the-tool-for-hollow-power-b8c8e8f87079" target="_blank" class="btn btn-primary">Go to Article!</a>
      </div>
    </div>
  </div> 
</div>
      </div>
    </div>
  </div>
  
  

  <footer> 
    Reach out to me on:
    <a href="https://www.linkedin.com/in/kshitiz-vikram-singh-67a702268/" target="_blank">LinkedIn</a> <a target="_blank" href="https://instagram.com/ktz_vs">Instagram</a>
</footer>
</body>
</html>