<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/dna.css">
    <link rel="icon" href="/img/my_web_logo.png"> 
    <script src="/js/jquery.js"></script> 
    <script src="/js/bootstrap.min.js"></script>
    <title>Ktz's Web Portal</title>
</head>
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/img/my_web_logo.png" alt="" width="38" height="30" class="d-inline-block align-text-top">
            Kshitiz Vikram Singh</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/blogs">Blogs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/certifications">Certifications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/feedback">Feedback</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<body>
<h1>Innovator's DNA</h1>
<div class="img_div">
    <img src="img/dna.jpg" class="img-fluid" alt="Virtual Private Network">
</div>

<div class="row">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"> </h5>
          <p class="card-text lead"> “What’s the DNA of an innovator?”, people usually ask as they tend to believe they must be some special breed.<br> However, anyone can be an innovator granted there is that driving force within. 

            I have been taught that there are five pillars that make up the Innovator’s DNA: 
            <ul>
                <li class="lead"><b>Observing</b></li>
                <li class="lead"><b>Associating</b></li>
                <li class="lead"><b>Networking</b></li>
                <li class="lead"><b>Questioning</b></li>
                <li class="lead"><b>Experimenting</b></li>
            </ul>
          </p>
        </div>
      </div>
</div>

<div class="row">
    <div class="card">
        <div class="card-body">
              <h5 class="card-title"></h5>
              <p class="card-text lead">Feel free to arrange them according to whatever you feel is right. <br> Let’s try to understand each of these five pillars through an example. 

                <br>We will take an idea that I thought of I.e., Building an online platform for every city. 
              </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="card">
        <div class="card-body">
              <h5 class="card-title">Observing:</h5>
              <p class="card-text lead">There are so many shops doing similar business which makes it harder to remember them thus, clear visibility of shops is hindered. 

                <br>There are so many streets, and it is difficult to identify which one is which. 
                
                <br>In a single city, there tends to be multiple RWA each operating in isolation which hampers collective benefits and ideas. 
                
                <br>It is difficult to find the right contacts as there is no clear way to get them. 
              </p>
              
        </div>
    </div>
</div>

<div class="row">
    <div class="card">
        <div class="card-body">
              <h5 class="card-title">Associating: </h5>
              <p class="card-text lead">I could easily identify the condition in my city to the situation of Amdocs, which was my last employer. 

                <br>It had many BUs, yet each were operating in its own silo.  
                
              </p>
        </div>
    </div>
</div>


<div class="row">
    <div class="card">
        <div class="card-body">
              <h5 class="card-title">Questioning and Networking:  </h5>
              <p class="card-text lead">As my next step, I went out and started reaching out to local businesses, shopkeepers and residents to converse and question them regarding the current challenges that they face whether pertaining to RWA or doing business. 
              </p>
        </div>
    </div>
</div>


<div class="row">
    <div class="card">
        <div class="card-body">
              <h5 class="card-title">Experimenting:  </h5>
              <p class="card-text lead">Having a repository of the challenges and observations, I decided to develop a web app which could act as a platform to find all the details regarding shops, businesses and basic facilities like hospitals, schools, RWA. Etc.   
              </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="card">
        <div class="card-body">
              <h5 class="card-title"></h5>
              <p class="card-text lead">In this way, I was able to bring my idea to reality by following these five pillars. <br>

                Now, there is no hard and fast rule that only these pillars exist, you may find your own new pillar to bring your idea into reality. I wrote this article with the intention to inspire you to keep hustling!    
              </p>
              <p>
              </p>
              <div class="img_div">
                <img src="img/inno-dna.png" class="img-fluid" alt="Innovator's DNA MAP">
            </div>
            
        </div>
    </div>
</div>


<div class="row">
  <div class="card">
      <div class="card-body">
            <h5 class="card-title">Credits</h5>
            <p class="card-text lead">Main image credit <a href="https://teamviewer.com" target="_blank">Teamviewer</a>
              <br>Architecture diagrams made in <a href="https://app.diagrams.net" target="_blank">diagrams</a>
            </p>
      </div>
  </div>
</div>
<footer> 
  Reach out to me on:
  <a href="https://www.linkedin.com/in/kshitiz-vikram-singh/" target="_blank">LinkedIn</a> <a target="_blank" href="https://instagram.com/ktz_vs">Instagram</a>
</footer>
</body>