<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="/css/blog.css">
    <link rel="icon" href="/img/my_web_logo.png">
    <script src="/js/jquery.js"></script> 
    <script src="/js/bootstrap.min.js"></script>
    <title>Homepage V1.0</title>
</head>
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
      <a class="navbar-brand" href="/">
          <img src="/img/my_web_logo.png" alt="" width="38" height="30" class="d-inline-block align-text-top">
          Kshitiz Vikram Singh</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blogs">Blogs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/certifications">Certifications</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/feedback">Feedback</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<body>

  <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2000">
        <img src="https://media.licdn.com/dms/image/D4E22AQH6f7URx5WLgg/feedshare-shrink_800/0/1681676899644?e=1684368000&v=beta&t=Z_twWO2ZQbRklmjMqWBHkhzZBcymLLoaKkYf0kb802E" class=" w-50" alt="...">
        <div class="carousel-caption  d-md-block">
          <h5><a href="https://medium.com/@kshitiz-vikram-singh/list/bash-programming-series-01e7a6d9f2fb" target="_blank">Bash Articles</a></h5>
        </div>
      </div>
      
      <div class="carousel-item">
        <img src="/img/nodejs-blog.png" class=" w-50" alt="...">
        <div class="carousel-caption  d-md-block">
          <h5><a href="/node-js-article" target="_blank">NodeJS Introduction</a></h5>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <h1>NodeJS Articles</h1> 

  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">What is NodeJS?</h5>
          <p class="card-text">The basic introduction of what exactly is NodeJS..</p>
          <a href="/node-js-article" target="_blank" class="btn btn-primary">Go to Article!</a>
        </div>
      </div>
    </div>
  </div>
  <h1>Bash Articles</h1> 

  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Bash Introduction</h5>
          <p class="card-text">The basic introduction of what exactly is NodeJS..</p>
          <a href="https://kshitiz-vikram-singh.medium.com/introduction-to-bash-scripting-4cb800c1dc70" target="_blank" class="btn btn-primary">Go to Article!</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Bash Variables and Subshell</h5>
          <p class="card-text">The basic introduction of what exactly is NodeJS..</p>
          <a href="https://kshitiz-vikram-singh.medium.com/bash-scripting-variables-and-subshell-55f51ed26c8c" target="_blank" class="btn btn-primary">Go to Article!</a>
        </div>
      </div>
    </div>
  </div>


  

  <footer> 
    Reach out to me on:
    <a href="https://www.linkedin.com/in/kshitiz--singh" target="_blank">LinkedIn</a> <a target="_blank" href="https://instagram.com/ktz_vs">Instagram</a>
</footer>
</body>
</html>