<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/result.css"> 
    <link rel="icon" href="/img/my_web_logo.png">
    <script src="/js/jquery.js"></script> 
    <script src="/js/bootstrap.min.js"></script>
    <title>Ktz's Web Portal</title>
</head>
<nav class="navbar   navbar-expand-lg ">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/img/my_web_logo.png" alt="" width="38" height="30" class="d-inline-block align-text-top">
            Kshitiz Vikram Singh</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><img class="nav-icon"src="/img/nav.png"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/blogs">Blogs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/certifications">Certifications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/feedback">Feedback</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="blogs" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="true">
              Blogs(testing)
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="gen-blogs">General Articles</a></li>
              
              <li><a class="dropdown-item" href="aws-blogs">AWS Articles</a></li>
              
              <li><a class="dropdown-item" href="project-management-blogs">Project Management Articles</a></li>
              
              <li><a class="dropdown-item" href="#">NodeJS Articles</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="blogs">All Articles</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <body>


    <h1 id="ip">IP searched: <b><%= ip %></b></h1>
    <h2>IP's region: <b><%= region%></b></h2>
    <h2>IP's timezone is <b><%= timezone%></b></h2>
    <h2>IP's  Service Provider (ISP): <b><%= provider%></b></h2>
    <a href="/ip-locator"><button type="button" class="btn btn-primary btn-lg">Search Again!</button></a>

  </body>
  </html>