body {
    background-image: url("/img/blogs.jpg");
    background-size:cover;
    font-family: "Century Gothic";
}
.row {
    padding: 30px;
}
.card{
    background-color: rgba(0, 132, 255, 0.74);
    color: rgb(255, 255, 255);
    text-shadow: 15px 15px 15px black;
    box-shadow: 5px 5px 55px rgb(173, 216, 230);
    border-radius: 30px;
}

h1 {
    text-align: center;
    color: white;
    text-shadow: 0px 0px 55px rgb(7, 7, 7);
}


footer{
    position:relative;
    top:auto;
    bottom:0;
    left:0; 
    width: 100%;
    text-align: center;
    color: white;
}

a{
    color: aliceblue;
}

div{
    animation: scale 1s;
}
@keyframes scale {
    from{
        transform: scale(0%);
    }
    to{
        transform: scale(100%);
    }
}

h1 {
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px black, 0px 0px 25px blue, 0px 0px 25px rgb(76, 0, 255);
}
#loader{
    
    
    
    
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
    text-align: center;
}
#loader img{
    width: 150px;
}