body {
    background-image: url("/img/blogs.jpg");
    background-size:cover;
}
.row {
    padding: 30px;
}
.card{
    background-color: rgba(0, 183, 255, 0.467);
    color: rgb(255, 255, 255);
}

h1 {
    text-align: center;
    color: white;
}

.bread{
    text-align: center;
}