body {
    background-image: url("/img/blogs.jpg");
    background-size:cover;
}
.row {
    padding: 30px;
}
.card{
    background-color: rgba(0, 132, 255, 0.74);
    color: rgb(255, 255, 255);
    text-shadow: 1px 6px 6px black;
}

h1 {
    text-align: center;
    color: white;
    text-shadow: 1px 6px 6px black;
}


footer{
    position:relative;
    top:auto;
    bottom:0;
    left:0; 
    width: 100%;
    text-align: center;
    color: white;
}

a{
    color: aliceblue;
}

