h1 {
    text-align: center;
    color: white;
}
body {
    background-image: url("/img/stars.jpg");
    background-size:cover;
    font-family: "Century Gothic";
    text-shadow: 15px 15px 15px black;
}
footer {
    text-align: center;
    color: white;
}

.card{
    background-color: rgba(255, 248, 248, 0.077);
    color: white;
    box-shadow: 5px 5px 5px rgba(173, 216, 230, 0.192);
   
}

.row {
    padding:  10px;
    
}

a{
    color: whitesmoke;
}

div{
    animation: scale 1s;
}
@keyframes scale {
    from{
        transform: scale(0%);
    }
    to{
        transform: scale(100%);
    }
}
#loader{
    width: 25px;
    height: 25px;
    
    
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
    
}
#loader img{
    width: 250px
}
