h1 {
    text-align: center;
    color: white;
}
body {
    background-image: url("/img/stars.jpg");
    background-size:cover;
}
footer {
    text-align: center;
    color: white;
}

.card{
    background-color: rgba(255, 248, 248, 0.077);
    color: white;
}

.row {
    padding:  10px;
    
}

a{
    color: whitesmoke;
}

div{
    animation: scale 1s;
}
@keyframes scale {
    from{
        transform: scale(0%);
    }
    to{
        transform: scale(100%);
    }
}
