

body {
    background-image: url("/img/stars.jpg");
    background-size:cover;
    
    
}
    
h1 {
    text-align: center;
    color: white;
}
.row {
    padding:  30px;
    
}

.card{
    background-color: rgba(255, 248, 248, 0.077);
    color: white;
}

footer{
    position:relative;
    top:auto;
    bottom:0;
    left:0; 
    width: 100%;
    text-align: center;
    color: white;
}

a{
    color: aliceblue;
}

.dropdown-menu{
    background-color: rgb(39, 37, 43);
    color: aliceblue;
}

.dropdown-item{
    color: aliceblue;
}
.navbar{
    background-color: rgba(245, 232, 232, 0);
    text-align: center;
}
.nav-link{
    color: aliceblue;
}
.nav-link:hover{
    color: aliceblue;
}
.navbar-toggler{
    color: black;
}
.nav-link:visited{
    color: white;
    
}