h1 {
    color: white;
    text-align: center;
}

body {
    background-image: url("/img/blogs.jpg");
    background-size:cover;
}

.row {
    padding: 30px;
}
.card{
    background-color: rgba(0, 183, 255, 0.467);
    color: rgb(255, 255, 255);
}

footer{
    position:relative;
    top:auto;
    bottom:0;
    left:0; 
    width: 100%;
    text-align: center;
    color: white;
}

a{
    color: aliceblue;
}

div{
    animation: scale 1s;
}
@keyframes scale {
    from{
        transform: scale(0%);
    }
    to{
        transform: scale(100%);
    }
}
