h1 {
    color: white;
    text-align: center;
}

body {
    background-image: url("/img/blogs.jpg");
    background-size:cover;
}

.row {
    padding: 30px;
}
.card{
    background-color: rgba(0, 183, 255, 0.467);
    color: rgb(255, 255, 255);
}