body {
     
    background-color: rgb(43, 41, 41);
    color: aliceblue;
    
}
h1{
    text-align: center;

}

.card{
 padding: 10px 10px 10px 10px;
 background-color: rgba(255, 248, 248, 0.077);
 color: white;
 display: flex;
 align-items: center;
}
div{
    display:flex;
}
.img-fluid{
    text-align: center;
    
}