<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/vpc_overview.css">
    <link rel="icon" href="/img/my_web_logo.png"> 
    <script src="/js/jquery.js"></script> 
    <script src="/js/bootstrap.min.js"></script>
    <title>Ktz's Web Portal</title>
</head>
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/img/my_web_logo.png" alt="" width="38" height="30" class="d-inline-block align-text-top">
            Kshitiz Vikram Singh</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/blogs">Blogs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/certifications">Certifications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/feedback">Feedback</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<body>
<h1>AWS Direct Connect(DX)</h1>
<div class="img_div">
    <img src="img/AWS-Direct-Connect.jpg" class="img-fluid" alt="subnet architecture in AWS">
</div>

<div class="row">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Direct Connect (DX)</h5>
          <p class="card-text lead">AWS Direct connect allows us to connect to AWS VPC from our on-premise datacenter without needing public internet connectivity.<br>
            It Does so by utilizing an AWS Direct Connect physical site that acts as a private internet for easier understanding.<br>
            This enhances privacy and throughput of data.
          </p>
        </div>
      </div>
</div>

<div class="row">
    <div class="card">
        <div class="card-body">
              <h5 class="card-title">AWS Direct Connect architecture</h5>
              <p class="card-text lead">
                    <p class="card-text lead"></p>
                        <div class="img_div">
                            <img src="img/direct-connect.drawio.png" class="img-fluid" alt="AWS Direct Connect architecture">
                        </div>
              </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="card">
        <div class="card-body">
              <h5 class="card-title">High and Maximum Resiliency</h5>
              <p class="card-text lead">Utilizing separate connection routers in asingle physical direct connect location helps to achieve higher resiliency as in case one connection fails, the other remains active.
                <br> Utilizing separate connection routers in separate direct connect locations helps to achive maximum resiliency. The above architecture diagram shows the difference. 
              </p>
              <div class="img_div">
                    <img src="img/direct-connect-Page-2.drawio.png" class="img-fluid" alt="AWS Direct Connect architecture">
              </div>
        </div>
    </div>
</div>

<div class="row">
  <div class="card">
      <div class="card-body">
            <h5 class="card-title">Direct Connect Gateway</h5>
            <p class="card-text lead">AWS Direct connect Gateway allows to connect multiple VPCs in diffrent regions to a Direct Connect physical location.
            </p>
      </div>
  </div>
</div>
<footer> 
  Reach out to me on:
  <a href="https://www.linkedin.com/in/kshitiz-vikram-singh-67a702268/" target="_blank">LinkedIn</a> <a target="_blank" href="https://instagram.com/ktz_vs">Instagram</a>
</footer>
</body>