<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/route-53.css">
    <script src="/js/jquery.js"></script> 
    <script src="/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AWS Route 53</title>
</head>
<body>
    <h1> AWS Route 53</h1>
    <div class="card border-primary mb-3" style="max-width: 120rem;">
        <div class="card-header"><b>Route 53</b></div>
        <div class="card-body">
          
          <p class="card-text">Route 53 is a highly available, fully managed and authoritative service by AWS. It can also acts as a Domain registrar.</p>
        </div>
    </div>

    <div class="card border-success mb-3" style="max-width: 120rem;">
      <div class="card-header"><b>DNS Records</b></div>
      <div class="card-body">
        <p class="card-text">A DNS record identifies how traffic is flown to the DNS.<br>
        A DNS Record consists of the following options: <br>
        <ul>
            <li>Domain/SubDomain Name</li>
            <li>Record Type</li>
            <li>Value (IP address )</li>
            <li>Routing Policy</li>
            <li>TTL (Time to Live)</li>
        </ul>
        </p>
      </div>
  </div>

  <div class="card border-primary mb-3" style="max-width: 120rem;">
    <div class="card-header"><b>Record Types</b></div>
    <div class="card-body">
      <p class="card-text"><ul>
        <li>
            <b>A Record</b><br> Maps a hostname to IPv4.
        </li>
        <li>
            <b>AAAA Record</b><br> Maps a hostname to IPv6.
        </li>
      </ul></p>
    </div>
</div>
    
    
</body>
</html>