<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/transit-gateway.css">
    <script src="/js/jquery.js"></script> 
    <script src="/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AWS Transit Gateway</title>
</head>
<body>
    <h1> AWS Transit Gateway</h1>
    <div class="card border-primary mb-3" style="max-width: 120rem;">
        <div class="card-header"><b>Transit Gateway</b></div>
        <div class="card-body">
          
          <p class="card-text">AWS Transit gateway is used to connect thousands of VPCs to each other that includes AWS Direct Connect and Site-to-Site VPN connectivity.</p>
        </div>
    </div>

    <div class="card border-primary mb-3" style="max-width: 120rem;">
      <div class="card-header"><b>Transit Gateway Architecture</b></div>
      <div class="card-body">
        <img src="img/transit-gateway.png" class="img-fluid" alt="AWS Direct Connect architecture">
        
      </div>
  </div>

    <div class="card border-success mb-3" style="max-width: 120rem;">
        <div class="card-body">
          <p class="card-text">AWS Transit gateway is the only AWS service that supports IP multicast. It is a cross-region service by AWS.</p>
        </div>
    </div>
    
</body>
</html>